<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StorageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StorageService.Properties.Settings>
            <setting name="StorageConnectionString" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=birthdaycards;AccountKey=gu2uW5wOZ6Q7mfTL7z4OqXtyGXusEYTF1Vb8XNxeaeyZYa3o3u1X8kM2a64szYoAyKqi4Xi3fIa79xb4A4LoBQ==</value>
            </setting>
        </StorageService.Properties.Settings>
    </applicationSettings>
</configuration>